@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    width: 100%;
    height: 15vh;
    background-color: rgb(216, 85, 85);
    display: flex;
    justify-content: center;
    align-items: center;
}
.poketitle{
    display: flex;
    align-items: center;
}
.poketitle h1{
    color: rgb(219, 201, 94);
    font-size: 2.5rem;
    font-weight: 900;
    -webkit-text-stroke-width: 2px;
    filter:drop-shadow(0px 3px rgb(19, 49, 131));
    -webkit-text-stroke-color: rgb(38, 92, 240);
}
.poketitle img{
    width: 250px;
}
.pokelogo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pokelogo img{
    width: 80px;
}
.nav{
    width: 25%;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    user-select: none;
}
.btnNav{
    padding: 10px;
    background-color: rgb(67, 115, 179);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 900;
    box-shadow: 0px 5px rgb(19, 49, 131);
}
.btnNav:active{
    transform: translate(0,5px);
    box-shadow: inset 0px 3px 5px rgb(11, 29, 77);
}
main{
    width: 100%;
    height: 85vh;
    background-color: rgb(112, 149, 209);
}
.pokedex_section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pokeinfo_container{
    width: 40%;
    height: auto;
    padding: 20px;
    background-color: rgb(167, 45, 45);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.idnomePokemon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    z-index: 2;
}
#nomePokemon, #idPokemon{
    text-transform: capitalize;
    font-family: "Bangers", system-ui;
    letter-spacing: 2.5px;
    z-index: 2;
}
.imgPokemon_container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/background_img.jpg');
    background-position: bottom;
    z-index: 2;
}
.imgPokemon_container img{
    transform: scale(1.5);
}
.searchPokedex{
    z-index: 2;
    width: 100%;
    display: flex;
}
.especificacoes_container{
    z-index: 2;
}
.especificacoes_container p{
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 5;
}
.especificacoes_container p span{
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 6px;
}
.batalha_section{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.equipe_pokemons{
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-between;
    position: relative;
}
.searchPokemon{
    display: block;
    position: absolute;
    top: 20%;
    background-color: rgb(51, 51, 51);
    padding: 20px;
    border-radius: 5px;
    z-index: 4;
}
.searchPokemon h2{
    color: white;
    margin-bottom: 10px;
}
.pokemon_container{
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.selecionado{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    transition: all 0.2s ease;
    background-color: rgb(71, 107, 150);
    padding: 50px;
    color: white;
    border-radius: 20px;
    position: relative;
}
#inicial1-1, #inicial2-1,#inicial1-2, #inicial2-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#inicial1-1 h2, #inicial2-1 h2, #inicial1-2 h2, #inicial2-2 h2{
    text-align: center;
}
.contIEquipe1-1, .contIEquipe2-1, .contIEquipe1-2, .contIEquipe2-2{
    display: none;
}
.contSEquipe1-1, .contSEquipe2-1, .contSEquipe1-2, .contSEquipe2-2{
    display: block;
}
.pokemon_container input{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0%;
}
.pokemon_container input:checked + .selecionado{
    filter: drop-shadow(0px 0px 16px rgb(0, 62, 119));
    border: 2px solid rgb(0, 33, 63);
}
.nomeidPokemon{
    display: flex;
    justify-content: space-between;
}
.nomeidPokemon div{
    display: flex;
    column-gap: 15px;
}
#nome1-1, #nome2-1, #nome1-2, #nome2-2{
    text-transform: capitalize;
}
.progressVida_container{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.progressVida_container progress{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 30px;
    background: rgb(106, 155, 91);
    border-radius: 10px;
}
.progressVida_container progress::-webkit-progress-bar{
    background: rgb(106, 155, 91);
    border-radius: 10px;
    
}
.progressVida_container progress::-webkit-progress-value{
    background: rgb(106, 155, 91);
    border-radius: 10px;
}
.progressVida_container p{
    position: absolute;
    z-index: 2;
}
.pokemonImg_container{
    position: relative;
    background-image: url('assets/background_pokemon.avif');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 10px;
    height: 250px;
    overflow: hidden;
}
.pokemonImg_container img{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.5);
}
.habilidades_container div{
    display: flex;
    column-gap: 15px;
    text-transform: capitalize;
    flex-wrap: wrap;
}
.status_container div{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}
.status_container span{
    font-weight: bold;
}
.versus_container{
    position: absolute;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.versus_container img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 10px rgb(0, 46, 131));
}
.moves{
    z-index: 2;
    position: absolute;
    width: auto;
    bottom: -8%;
    padding: 10px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
}
.moves h2{
    color: white;
    text-align: center;
}
.moves select{
    font-size: 1.2rem;
}
.moves select option{
    font-size: 1.2rem;
}

.btnStartBattle{
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    bottom: 10%;
    z-index: 4;
}
.btnStartBattle button{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: 0;
    transition: all 0.1s ease-in-out;
}
.btnStartBattle button:active{
    box-shadow: inset 0 7px 5px black;
}
.batalha_pokemon{
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.display_pokemons{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('./assets/d9spuwer2c491.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    user-select: none;
}
.pokemonInimigo{
    position: absolute;
    right: 0%;
    top: 10%;
    width: 40%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all 0.5s ease;
}
.pokemonInimigo img{
    transform: scale(3);
    z-index: 2;
}
.seuPokemon{
    position: absolute;
    left: 0px;
    bottom: 10%;
    width: 35%;
    display: flex;
    align-items: end;
    justify-content: end;
    height: 70%;
    z-index: 0;
    transition: all 0.5s ease;
}
.seuPokemon img{
    transform: scale(4);
}
.ataque_gif{
    position: absolute;
    width: 100px;
    display: none;
}
#gifatkSeu{
    transform: translate(10px 0) scale(4);
}
.trainer{
    position: absolute;
    transition: all 0.5s ease;
}
#trainerInimigo{
    top: 0%;
    left: 0px;
    transform: scale(1.5) translate(30%, 0px);
    z-index: 0;
}
#trainerSeu{
    right: 0px;
    transform: scale(5) translate(-50px, 0px);
}
.status_inimigo{
    position: absolute;
    left: 50px;
    top: 50px;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    width: 30%;
    border: 5px solid rgb(68, 68, 68);
    box-shadow: -5px 5px rgb(138, 138, 138);
    border-radius: 10px 20px;
    flex-direction: column;
}
.status_inimigo h1{
    padding: 5px;
    text-transform: capitalize;
}
.status_seuPokemon{
    width: 30%;
    position: absolute;
    right: 50px;
    bottom: 5%;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border: 5px solid rgb(68, 68, 68);
    box-shadow: 5px 5px rgb(138, 138, 138);
    border-radius: 20px 10px;
    flex-direction: column;
    z-index: 3;
}
.status_seuPokemon h1{
    padding: 5px;
    text-transform: capitalize;
}
.Vida{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 20px;
    transition: all 0.5 ease;
}
.Vida progress::-webkit-progress-value{
    border-radius: 20px;
    background: linear-gradient(45deg, rgb(83, 156, 128), green);
}
.Vida progress::-webkit-progress-bar{
    border-radius: 20px;
}
.Vida progress[value]{
    width: 95%;
    height: 100%;
    border-radius: 20px;
}

.Vida p{
    position: absolute;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: 500;
}
.infoPoke{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.acoes_pokemon{
    width: 100%;
    height: 30%;
    z-index: 2;
    background-color: rgb(48, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.seu_turno{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.seu_turno button{
    width: 47%;
    height: 80%;
    font-size: 3rem;
    font-weight: bold;
}
.desc_acao{
    display: none;
    width: 80%;
    height: 80%;
    background-color: white;
    position: relative;
}
.desc_acao p{
    padding: 20px;
    font-size: 3rem;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.desc_acao button{
    display: none;
    position: absolute;
    font-size: 1.5rem;
    padding: 10px;
    width: auto;
    height: auto;
    bottom: 7%;
    right: 3%;
}
.fim_batalha{
    display: none;
}
#pokemonVencedor{
    transform: scale(4);
}
.moves_container{
    display: none;
    width: 85%;
    height: 80%;
    align-items: center;
    justify-content: space-evenly;
}
.movimento{
    width: 47%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.movimento h2{
    font-size: 2rem;
}
.movimento div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.movimento div p{
    padding: 10px;
    background-color: rgb(179, 179, 179);
    font-size: 1.5rem;
    border-radius: 10px;
}
.movimento div span{
    font-size: 1.3rem;
}
.mochila_container{
    display: none;
    width: 85%;
    height: 80%;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 10px;
}
.item_container{
    background-color: white;
    position: relative;
    height: 100%;
}
.item_container button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.item_container img{
    width: 50px;
}
.item_container p{
    font-size: 1.7rem;
}
.item_container span{
    font-size: 1.8rem;
    font-weight: bold;
}
.btn_voltar{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    left: 20px;
    top: 20px;
}


.liga_section{
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.suaEquipe{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.oponenteEquipe{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.oponente_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: rgb(59, 59, 59);
    padding: 25px;
    border-radius: 20px;
}
.oponente_container h1{
    margin-bottom: 2vh;
    color: white;
    font-size: 2rem;
}
.elite_container{
    background-image: url("./assets/fundoLiga.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border-radius: 10px;
}
.elite_container img{
    width: 15vw;
}